<template>
    <div class="color-chooser">
        <ui-radio v-for="(color) in colors" :key="color._id" :trueValue='color.value' v-model='option'>
            {{color.name}}
        </ui-radio>
    </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({})
export default class ColorChooser extends Vue {
  private colors = [
      { name: "Rot", value: "red" },
      { name: "Grün", value: "green" },
      { name: "Blau", value: "blue" }
    ];
    @Prop()
    private value: string;

    private get option() {
      return this.value;
    }

    private set option(value: string) {
      this.$emit("input", value)
    }
}
</script>

<style scoped lang='scss'>
.color-chooser {
  display: flex;
  margin: 10px 0 17px 0;
  flex-flow: row wrap;
  label {
    margin-right: 5px;
  }
}
</style>