<template>
    <div class="title">
        <div class="headline" v-bind:class="color"><span style='margin: auto'>{{title}}</span>
            <slot name="buttons"></slot>
        </div>
        
    </div>
</template>

<script lang="ts">
export default {
  name: "ContentTitle",
  props: ["title", "color"],
  data() {
    return {};
  }
};
</script>

<style scoped lang='scss'>
@import "../assets/scss/colors";
.headline {
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    background-color: green;
    border-bottom: 3px solid lightgreen;
    color: white;
    height: 36px;
    &.gray {
        background-color: gray;
        border-color: darken(gray, 30);
    }
    @each $pointer, $bgcolor in $note-colors {
      &.#{$pointer} {
        background-color: $bgcolor;
        border-color: darken($bgcolor, 30);
      }
    }
}
</style>