<template>
  <confirm-dialog ref="confirm"></confirm-dialog>
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import { Category } from "../interfaces/gui-interfaces/Category";
import {
  CategoryActionTypes,
  DeleteCategoryAction
} from "../store/category-state/category-state";
import { StateNamespaces } from "../store/namespaces";
import { namespace } from "vuex-class";
import ConfirmDialog from "../components/external/ConfirmDialog.vue";

const categoryModul = namespace(StateNamespaces.CATEGORY_STATE);

@Component({ components: { ConfirmDialog } })
export default class DeleteCategoryModal extends Vue {
  @Prop()
  private value: boolean;
  @Prop()
  private category: Category;

  @categoryModul.Action(CategoryActionTypes.DELETE_CATEGORY)
  private deleteCategoryAction: DeleteCategoryAction;

  private translate = {
    delete: "Kategorie löschen",
    cancel: "Abbrechen",
    questionToDelete: "Soll die Kategorie unwiderruflich gelöscht werden?",
    color: "Farbe"
  };

  get show() {
    return this.value;
  }

  set show(value: boolean) {
    this.$emit("input", value);
  }

  deleteCategory() {
    this.deleteCategoryAction(this.category);
  }

  @Watch("value")
  private async onChange(val, oldVal) {
    this.$emit("input", val);
    if (val) {
      let confirm: any = this.$refs.confirm;
      let text = "Soll die Kategorie unwiderruflich gelöscht werden";
      if (await confirm.open("Löschen", text, { color: "red" })) {
        // yes
        this.deleteCategoryAction(this.category);
        this.show = false;
      } else {
        this.show = false;
      }
    }
  }
}
</script>
<style lang="scss" scoped>
div {
  color: black;
}
</style>
