<template>
  <div class="editCategoryModal">
    <v-dialog v-model="show" width="500">
      <v-card>
        <v-toolbar dark dense flat>
          <v-toolbar-title
            class="white--text"
          >{{ isEdit() ? translate.editCategory : translate.addCategory }}</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <div v-if="tmpCategory != null">
            <v-text-field
              @keydown.enter="saveCategory();"
              v-model="tmpCategory.name"
              :label="translate.listname"
            ></v-text-field>
          </div>
          <color-chooser v-if="tmpCategory" v-model="tmpCategory.color"></color-chooser>
        </v-card-text>
        <v-card-actions class="pt-0">
          <v-spacer></v-spacer>
          <v-btn color="grey" flat @click="show = false">{{translate.cancel}}</v-btn>
          <v-btn
            color="primary"
            flat
            @click="saveCategory()"
          >{{isEdit()? translate.plusBtnEdit : translate.plusBtnAdd}}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import { EventBus } from "../helper/event-bus.js";
import { ICategory } from "../interfaces/ICategory";
import ColorChooser from "./ColorChooser.vue";
import CategoryService from "../services/CategoryService";
import { Component, Vue, Prop, Watch } from "vue-property-decorator";

import { StateNamespaces } from "@/store/namespaces";
import { namespace } from "vuex-class";
import {
  CategoryActionTypes,
  SaveCategoryAction
} from "@/store/category-state/category-state";
import { Category } from "../interfaces/gui-interfaces/Category.js";
const categoryModul = namespace(StateNamespaces.CATEGORY_STATE);

@Component({
  components: {
    ColorChooser
  }
})
export default class EditCategoryModal extends Vue {
  // ToDo als PROP
  @Prop()
  private category: Category;
  @Prop({ default: false })
  private value: boolean;
  private tmpCategory: Category = null;
  private translate = {
    plusBtnAdd: "Hinzufügen",
    plusBtnEdit: "Bearbeiten",
    addCategory: "Kategorie hinzufügen",
    editCategory: "Kategorie bearbeiten",
    listname: "Name",
    delete: "Kategorie löschen",
    cancel: "Abbrechen",
    questionToDelete: "Soll die Kategorie unwiderruflich gelöscht werden?",
    color: "Farbe",
    edit: "Bearbeiten"
  };
  @categoryModul.Action(CategoryActionTypes.SAVE_CATEGORY)
  private saveCategoryAction: SaveCategoryAction;

  get show() {
    return this.value;
  }

  set show(value: boolean) {
    this.$emit("input", value);
  }

  @Watch("value")
  onPropertyChanged(value: boolean, oldValue: boolean) {
    if (value) {
      if (this.category) {
        this.tmpCategory = JSON.parse(JSON.stringify(this.category));
      } else {
        this.tmpCategory = {
          name: undefined,
          model: false,
          notes: undefined,
          color: "red"
        };
      }
    }
  }

  saveCategory() {
    EventBus.$emit("loading", true);
    // let category: Category = { name: this.value.name, color: color, model: undefined };
    this.saveCategoryAction(this.tmpCategory);
    this.show = false;
  }

  isEdit() {
    return this.tmpCategory && this.tmpCategory._id != null;
  }

  showDialog(category) {
    if (category) {
      /** Parse and stringify used to clone object (to avoid, that the element is edited without using save btn) */
      this.tmpCategory = JSON.parse(JSON.stringify(category));
      let dialog: any = this.$refs["colorchooser"];
      dialog.setColor(this.tmpCategory.color);
    } else {
      this.tmpCategory = {
        name: undefined,
        model: undefined,
        notes: undefined,
        color: "red"
      };
    }
  }
}
</script>

<style scoped lang='scss'>
div {
  // color: black;
}
</style>