<template>
  <div class='loading-overlay' v-if="showComponent">
    <ui-preloader :show="true" class="loading"></ui-preloader>
    <div class="overlay"></div>
  </div>
</template>

<script lang="ts">
let showComponent: boolean;
export default {
  name: "loading-overlay",
  methods: {
    show() {
      this.display(true);
    },
    hide() {
      this.display(false);
    },
    display(show: boolean) {
      this.showComponent = show;
    }
  },
  data() {
    return { showComponent: this.showComponent };
  }
};
</script>

<style lang="scss" scoped>
.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: black;
    opacity: 0.2;
    z-index: 100;
}
.loading {
  z-index: 200;
}
</style>
