<template>
  <div class="fill-height" style="max-width:100%; width:100%; overflow:auto;">
    <v-data-iterator
      class="note-list"
      :items="displayNotes"
      content-tag="v-layout"
      hide-actions
      row
      wrap
      v-bind:class="categoryColor"
      no-data-text="Keine Notizen vorhanden."
    >
      <v-toolbar slot="header" class="mb-2" color="indigo darken-5" dark flat>
        <v-toolbar-title>{{category ? category.name : 'Papierkorb'}}</v-toolbar-title>
      </v-toolbar>
      <v-flex slot="item" slot-scope="props" xs12 sm6 md4 lg4>
        <v-card @click="openNote(props.item)" class="note clickable" v-bind:class="categoryColor">
          <v-card-title primary-title class="text-content note-title">
            <div>
              <h3 class="headline mb-0">{{props.item.name}}</h3>
            </div>
          </v-card-title>
          <v-card-text class="content text-content">
            <div class="fadeout" v-if="props.item.content && props.item.type == NoteType.checklist">
              <ul>
                <li
                  v-for="(item, index) in props.item.content.noteItems"
                  :class="item.checked ? 'checked' : ''"
                  :key="index"
                >{{item.name}}</li>
              </ul>
            </div>
            <div v-else-if="props.item.content" class="note-text fadeout">
              <div
                v-if="props.item.markdown"
                class="markdown"
                v-html="$options.filters.markdown(props.item.content.text)"
              ></div>

              <div v-else>{{props.item.content.text}}</div>
            </div>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-data-iterator>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Watch, Prop } from "vue-property-decorator";
import { INote, NoteType } from "../interfaces/INote";
import { ICategory } from "../interfaces/ICategory";
import showdown from "showdown";

@Component({
  components: { },
  filters: {
    markdown(s: string) {
      let converter = new showdown.Converter(),
        html = converter.makeHtml(s);
      return html;
    }
  }
})
export default class NoteListComponent extends Vue {
  @Prop({ default: null })
  private category: ICategory;
  @Prop()
  private notes: Array<INote>;


  private NoteType = NoteType;

  private mounted() {
    showdown.setOption("tasklists", "true");
    showdown.setOption("requireSpaceBeforeHeadingText", "true");
    showdown.setOption("simpleLineBreaks", "true");
  }

  get displayNotes(): INote[] {
    return this.notes; 
  }
  get categoryColor(): string {
    return this.category ? "category-" + this.category.color : "trash";
  }

  async openNote(note: INote) {
    this.$emit("click-note", note);
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/scss/colors";
.note-list {
  width: 100%;
  height: 100%;

  nav {
    background-color: #424242 !important;
    border-top: 5px solid lightgray;
    border-color: darken(lightgray, 30) !important;
  }
  @each $pointer, $bgcolor in $note-colors {
    &.#{$pointer} {
      nav {
        border-top: 5px solid lightgray;
        background-color: $bgcolor !important;
        border-color: darken($bgcolor, 30) !important;
      }
    }
  }
}
.correct-margins {
  margin-left: -10px;
  margin-right: -10px;
}
.note {
  position: relative;
  display: flex;
  flex-direction: column;
  border-top: 5px solid lightgray;
  // background-color: lightgray;
  border-color: darken(lightgray, 30);
  margin: 3px;
  // width: 150px;
  height: 160px;
  overflow: hidden;
  .fadeout::after {
    background: linear-gradient(rgba(0, 0, 0, 0), #424242);
  }
  &.clickable {
    cursor: pointer;
  }
  .note-title {
    display: block;
    padding-top: 5px;
    padding-bottom: 0px;
  }

  @each $pointer, $bgcolor in $note-colors {
    &.#{$pointer} {
      background-color: $bgcolor;
      border-color: darken($bgcolor, 30);
      .fadeout::after {
        background: linear-gradient(rgba(0, 0, 0, 0), $bgcolor);
      }
    }
  }
  ul {
    padding-left: 15px;
    padding-right: 5px;
    text-align: left;
    margin: 0;
    li {
      //   font-size: 11px;
      &.checked {
        text-decoration: line-through;
      }
    }
  }
  .note-text {
    white-space: pre-line;
    // font-size: 11px;
    text-align: left;
    overflow: hidden;
    .markdown {
      white-space: normal;
      /deep/ ul {
        margin-top: -16px;
        margin-bottom: 16px;
        p {
          margin: 0;
        }
      }
    }
  }
  .fadeout {
    // margin: 5px 0;
    &::after {
      content: " ";
      height: 25%;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  .headline {
    font-size: 17px;
    font-weight: bold;
  }
}
</style>

