<template>
  <v-dialog
    v-model="show"
    width="800px"
    persistent
    @keydown.esc="show = false"
    @keydown.ctrl.s.prevent="saveNote()"
    @keydown.ctrl.enter.prevent="saveNote()"
  >
    <v-card>
      <v-card-title class="lighten-4 py-4 title">
        Notiz {{note ? 'bearbeiten' : 'hinzufügen'}}
        <div class="options">
          <v-tooltip left>
            <template slot="activator">
              <v-switch
                :disabled="choiceDisabled"
                :label="markdown ? 'Formatierung' : 'Formatierung'"
                v-model="markdown"
              ></v-switch>
            </template>
            <span>Formatierung mit Markdown {{markdown ? ' aktiviert' : 'deaktiviert'}}</span>
          </v-tooltip>
        </div>
      </v-card-title>
      <v-container grid-list-sm class="pa-4">
        <v-layout row wrap>
          <v-flex xs12 align-center justify-space-between>
            <v-text-field ref="title" autofocus v-if="tmpNote" label="Titel" v-model="tmpNote.name"/>
          </v-flex>
          <v-flex xs12>
            <v-textarea
              v-if="!checklist && tmpNote && tmpNote.content"
              auto-grow
              label="Inhalt"
              v-model="tmpNote.content.text"
            ></v-textarea>
          </v-flex>
          <v-flex xs12>
            <v-text-field
              @keydown.enter="addPoint(tmpNote.content)"
              @click:prepend="addPoint(tmpNote.content)"
              prepend-icon="add"
              v-if="checklist"
              v-model="newItemText"
              placeholder="Punkt hinzufügen"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 v-if="checklist && tmpNote && tmpNote.content">
            <v-checkbox
              :readonly="true"
              class="note-checkboxes"
              v-for="(item, index) in tmpNote.content.noteItems"
              :key="index"
              v-model="item.checked"
              :label="item.name"
              append-icon="delete"
              @click:append="removePoint(tmpNote.content, item)"
            />
          </v-flex>
        </v-layout>
      </v-container>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn flat color="primary" @click="show = false">Abbrechen</v-btn>
        <v-btn flat @click="saveNote()">Speichern</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import { NoteType, INoteContent, INoteItem } from "../interfaces/INote";
import { Note} from "../interfaces/gui-interfaces/Note";

@Component
export default class NoteEditDialog extends Vue {
  @Prop({ default: null })
  private note: Note;
  @Prop({ default: true })
  private value: boolean;
  @Prop({ default: NoteType.text })
  private noteType: NoteType;

  private newItemText: string = null;
  private tmpNote: Note = null;
  // choiceDisabled: boolean = true;

  get show() {
    return this.value;
  }

  set show(value: boolean) {
    this.$emit("input", value);
  }

  get choiceDisabled(): boolean {
    return this.tmpNote ? this.tmpNote.type == NoteType.checklist : false;
  }
  get checklist(): boolean {
    return this.tmpNote != null && this.tmpNote.type == NoteType.checklist;
  }
  set checklist(value: boolean) {
    this.tmpNote.type = value ? NoteType.checklist : NoteType.text;
  }

  get markdown(): boolean {
    return this.tmpNote != null && this.tmpNote.markdown;
  }

  set markdown(value: boolean) {
    this.tmpNote.markdown = value;
  }

  @Watch("value")
  onPropertyChanged(value: boolean, oldValue: boolean) {
    if (value) {
      if (this.note) {
        this.tmpNote = JSON.parse(JSON.stringify(this.note));
      } else {
        let content: INoteContent = {};
        this.tmpNote = { type: this.noteType, name: null, content, markdown: false, categoryId: this.$route.params.categoryid, category: null};
      }
      const el: any = this.$refs.title;
      if (el)
        this.$nextTick(() => el.focus())
    }
  }

  saveNote() {
    //if(this.tmpNote.type == NoteType.checklist && this.newItemText) 
    this.addPoint(this.tmpNote.content);
    this.$emit("save", this.tmpNote);
  }

  addPoint(content: INoteContent) {
    if (!this.newItemText || this.newItemText == "") return;
    if (!content.noteItems) content.noteItems = [];
    content.noteItems.push({ name: this.newItemText });
    this.newItemText = "";
  }

  removePoint(content: INoteContent, item: INoteItem) {
    let index = content.noteItems.indexOf(item);
    content.noteItems.splice(index, 1);
  }
}
</script>

<style lang="scss" scoped>
.note-checkboxes {
  /deep/ .v-input__append-outer {
    margin-left: auto;
  }
  /deep/ .v-input__slot {
    margin-bottom: 5px;
  }
  margin-top: 0;
  padding-top: 0;
  /deep/ .v-input__slot {
    margin-bottom: 5px;
  }
  // Force break if too long:
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.options {
  margin-left: auto;
  display: flex;
  flex-flow: row;
  .v-input {
    margin-left: 15px;
  }
}
</style>

