<template>
  <v-dialog v-model="show" width="800px" persistent @keydown.esc="show = false">
    <v-card>
      <v-card-title class="lighten-4 py-4 title">Notizhistorie</v-card-title>
      <!-- <v-container grid-list-sm class="pa-4"> -->
      <v-expansion-panel>
        <v-expansion-panel-content v-for="(version,i) in noteVersions" :key="i">
          <div slot="header" class="ex-panel-header">
            <div v-if="i != 0">Version vom {{version.date | formatDate }}</div>
            <div v-else>Aktuelle Version</div>
            <div class="actions" v-if="actionsAvailable">
              <v-btn v-if="i != 0" icon @click.stop="restoreHistoryEntry(version)">
                <v-icon>restore</v-icon>
              </v-btn>
              <v-btn v-if="i != 0" icon @click.stop="deleteHistoryEntry(version)">
                <v-icon>delete</v-icon>
              </v-btn>
            </div>
          </div>
          <div slot="actions">
            <v-icon>keyboard_arrow_down</v-icon>
          </div>
          <v-card style="margin:20px">
            Titel: {{version.name}}
            <note-content :note="version" :readonly="true"></note-content>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <!-- </v-container> -->
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn flat color="primary" @click="show = false">Schließen</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script lang="ts">
import moment from "moment";
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import { NoteType, INoteContent, INoteItem } from "../interfaces/INote";
import { Note } from "../interfaces/gui-interfaces/Note";
import NoteContent from "./NoteContent.vue";

@Component({
  components: { NoteContent },

  filters: {
    formatDate(val: string) {
      if (val) {
        return moment(val).format("DD.MM.YYYY HH:mm");
      }
    }
  }
})
// @Component
export default class NoteHistoryDialog extends Vue {
  @Prop({ default: null })
  private noteVersions: Note[];
  // show
  @Prop({ default: true })
  private value: boolean;

  get show() {
    return this.value;
  }

  set show(value: boolean) {
    this.$emit("input", value);
  }

  deleteHistoryEntry(value) {
    this.$emit("delete-entry", value);
  }

  restoreHistoryEntry(value) {
    this.$emit("restore-entry", value);
  }

  get actionsAvailable(): boolean {
    return this.$route.name !== "TrashNoteContent";
  }
}
</script>

<style lang="scss">
.ex-panel-header {
  display: flex;
  align-items: center;
  .actions {
    margin: 0 0 0 auto;
    .v-btn {
      margin: 0;
    }
  }
}
</style>

