<template>
  <div v-if="note.type == 'text'" class="note-text">
    <div
      v-if="note.markdown"
      class="markdown"
      v-html="$options.filters.markdown(note.content.text)"
    ></div>
    <div v-else>{{note.content.text}}</div>
  </div>
  <div v-else>
    <v-checkbox
      class="note-checkboxes"
      v-for="(item, index) in note.content.noteItems"
      :key="index"
      v-model="item.checked"
      :label="item.name"
      :readonly="readonly"
      @change="$emit('update-note', note);"
    />
  </div>
</template>


<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { Note } from "../interfaces/gui-interfaces/Note";
import showdown from "showdown";

@Component({
  filters: {
    markdown(s: string) {
      // s = s.replace(/\n\n\n/g, "\n&nbsp;\n ");
      let converter = new showdown.Converter(),
        html = converter.makeHtml(s);
      return html;
    }
  }
})
export default class NoteContent extends Vue {
  @Prop({ default: null })
  private note: Note;
  @Prop({ default: false })
  private readonly: boolean;
}
</script>

<style lang="scss" scoped>
.note-text {
  white-space: pre-line;

  .markdown {
    white-space: normal;
    /deep/ p + ul {
      margin-top: -16px;
      margin-bottom: 16px;
      p {
        margin: 0;
      }
    }
  }
}

.note-checkboxes {
  margin-top: 0;
  padding-top: 0;
  /deep/ .v-input__slot {
    margin-bottom: 5px;
  }
  /deep/ label {
    user-select: auto;
  }
}
</style>
