<template>
  <div id="app">
    <loading-overlay ref="loading"></loading-overlay>
    <router-view/>
    <ui-snackbar-container class="snackbars" ref="snackbars" position="center"></ui-snackbar-container>
  </div>
</template>

<script lang="ts">
import { EventBus } from "./helper/event-bus.js";
import LoadingOverlay from "./components/LoadingOverlay.vue";

import Vue from "vue";
import VueDragDrop from "vue-drag-drop";
import StorageService from "./services/StorageService";
import router from "./router/index";
import UserService from "./services/UserService";
import ShortCut from 'vue-shortkey';
import Vuetify from 'vuetify';

import GlobalEvents from 'vue-global-events'

// register globally
Vue.component('GlobalEvents', GlobalEvents)

Vue.use(ShortCut);
Vue.use(VueDragDrop);
 
Vue.use(Vuetify)

let showLoading = true;
let tokenReloaded = false;

export default {
  name: "app",
  beforeMount() {
    EventBus.$on("authetification", authenicated => {
      if (!authenicated)  {
        router.push({name: "SignIn"});
      }
    });
    // check for token
    let token = StorageService.instance.jwt;
    let userService = new UserService();
    if (!token) {
      router.push({ name: "Register" });
    } else if (!userService.isTokenValid(token) &&
      userService.isRefreshTokenValid(token)) {
      // NoOp --> automatically get new token.
    } else if (!userService.isTokenValid(token) &&
      !userService.isRefreshTokenValid(token)) {
      router.push({ name: "SignIn" });
    } else {
      // token is valid
      if (this.$router.currentRoute.name == "SignIn" ||
        this.$router.currentRoute.name == "Register") {
        EventBus.$emit("loginToken", true);
        router.push({ name: "Layout" });
      }
    }
  },
  mounted() {
    EventBus.$on("message", options => {
      let duration = options.duration ? options.duration : 3000;
      if (this.$refs["snackbars"]) {
        this.$refs["snackbars"].createSnackbar({
          message: options.message,
          duration: duration
        });
      }
    });
    EventBus.$on("loading", loading => {
      if (this.$refs["loading"]) {
        this.$refs["loading"].display(loading);
      }
    });
  },
  methods: {
    showSnackbar(message: string) {
      console.log(this);
      this.$refs["snackbars"].createSnackbar({ message: message });
    }
  },
  components: {
    LoadingOverlay
  }
};
</script>

<style>
body {
  margin: 0;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* color: #2c3e50; */
  height: 100vh;
  width: 100vw;
  display: flex;
  /* margin-top: 60px; */
}
.ui-preloader {
  flex: 0;
  position: absolute;
}
.snackbars {
  z-index: 100;
}
</style>
