<template>
  <v-app id="inspire" style="width: 100%" dark>
    <edit-category-modal v-model="showEditCategoryModal" :category="editCategory"></edit-category-modal>
    <delete-category-modal v-model="showDeleteModal" :category="editCategory"/>
    <v-navigation-drawer :clipped="$vuetify.breakpoint.lgAndUp" v-model="drawer" fixed app>
      <v-list dense>
        <v-list-tile @click="router.push({ name: 'Trash' })">
          <v-list-tile-action>
            <v-icon>delete</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Papierkorb</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-layout row align-center>
          <v-flex xs6>
            <v-subheader>Kategorien</v-subheader>
          </v-flex>
          <v-flex xs6 class="text-xs-center"></v-flex>
          <v-btn icon @click="editCategory = null; showEditCategoryModal = true">
            <v-icon>add</v-icon>
          </v-btn>
        </v-layout>
        <v-list-group
          v-for="item in categories"
          class="vlistgroup"
          :class="'category-' + item.color"
          :key="item._id ? item._id : null"
          :value="item.model"
        >
          <v-list-tile slot="activator" class="category-title">
            <v-list-tile-content @click="openCategory(item)">
              <v-list-tile-title>{{ item.name }}</v-list-tile-title>
            </v-list-tile-content>
            <v-list-tile-action style="display: flex; flex-direction: row">
              <v-btn icon @click="showEditCategoryModal = true; editCategory = item">
                <v-icon>edit</v-icon>
              </v-btn>
              <v-btn icon @click="openDeleteDialog($event, item)">
                <v-icon>delete</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
          <v-list-tile v-for="(child, i) in item.notes" :key="i" @click="openNote(child)">
            <v-list-tile-action>
              <v-icon>{{child.type == "text" ? 'subject' : 'check_box'}}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ child.name }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar :clipped-left="$vuetify.breakpoint.lgAndUp" color="blue darken-3" dark app fixed>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title style="margin-right:8px" class="ml-0 pl-3">
        <span class="hidden-sm-and-down">Dead-Duck-Notes</span>
      </v-toolbar-title>
      <v-tooltip bottom activator="asdf">
        <span>Tooltip</span>
      </v-tooltip>
      <v-text-field
        disabled
        flat
        solo-inverted
        hide-details
        prepend-inner-icon="search"
        label="Search"
        class="hidden-sm-and-down coming-soon"
      ></v-text-field>

      <v-btn type="secondary" icon title="Logout" @click="logout();">
        <v-icon>exit_to_app</v-icon>
      </v-btn>
      <v-btn icon disabled>
        <v-icon>apps</v-icon>
      </v-btn>
      <v-btn icon disabled>
        <v-icon>notifications</v-icon>
      </v-btn>
      <v-btn icon large disabled>
        <v-avatar size="32px" tile>
          <img src="/static/img/favicon.jpg" alt="Vuetify">
        </v-avatar>
      </v-btn>
    </v-toolbar>
    <v-content style="height: 100%">
      <v-container fluid fill-height>
        <v-layout justify-center align-center>
          <router-view></router-view>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import router from "../router/index";
import Router from "vue-router";
import EditCategoryModal from "../components/EditCategoryModal.vue";
import { Category } from "../interfaces/gui-interfaces/Category";
import { Component, Vue, Watch } from "vue-property-decorator";

import { StateNamespaces } from "@/store/namespaces";
import { namespace } from "vuex-class";
import {
  CategoryActionTypes,
  SetCategoriesAction,
  UpdateCategoryListAction
} from "@/store/category-state/category-state";
import {
  UserActionTypes,
  LogoutUserAction
} from "../store/user-state/user-state";
import { debug } from "util";
import DeleteCategoryModal from "../components/DeleteCategoryModal.vue";

const categoryModul = namespace(StateNamespaces.CATEGORY_STATE);
const userModul = namespace(StateNamespaces.USER_STATE);

@Component({
  components: { EditCategoryModal, DeleteCategoryModal }
})
export default class AppLayout extends Vue {
  private showEditCategoryModal: boolean = false;
  private showDeleteModal: boolean = false;
  private editCategory: Category = null;
  private drawer: boolean = false;

  @categoryModul.Getter
  private categories: Category[];

  @userModul.Action(UserActionTypes.LOGOUT)
  private logoutUser: LogoutUserAction;

  @categoryModul.Action(CategoryActionTypes.UPDATE_CATEGORY_LIST)
  private udateCategoryListAction: UpdateCategoryListAction;

  private router: Router = router;

  logout() {
    this.logoutUser();
  }
  openCategory(category: Category) {
    router.push({
      name: "NoteListView1",
      params: { categoryid: category._id }
    });
  }
  openDeleteDialog(event, category) {
    this.showDeleteModal = false;
    this.showDeleteModal = true;
    this.editCategory = category;
    // const dialog: any = this.$refs["editCategoryModal"];
    // dialog.openDeleteDialog(category);
    if (event) event.stopPropagation();
  }
  openNote(note) {
    debugger;
    router.push({
      name: "LayoutNoteContent",
      params: { categoryid: note.categoryId, noteid: note._id }
    });
  }
  mounted() {
    this.udateCategoryListAction();

    if (this.$route.name == "Layout") {
      this.drawer = true;
    }
  }

  @Watch("route")
  private onRouteChanged(to, from) {
    if (to.name == "Layout") {
      this.drawer = true;
    }
    // this.checkSelectedCategory(to);
  }

  @Watch("categories")
  onPropertyChanged(value, oldValue) {
    let categoryId = this.$route.params.categoryid;
    if (
      this.$route.name == "NoteListView1" ||
      this.$route.name == "LayoutNoteContent"
    ) {
      // this.setCurrentCategoryAction(categoryId);
    } else if (this.$route.name == "TrashView") {
      // this.setCurrentCategoryAction(null);
    }
  }
}
</script>
<style scoped lang="scss">
@import "../assets/scss/colors";
.vlistgroup {
  @each $pointer, $bgcolor in $note-colors {
    &.#{$pointer} {
      background-color: $bgcolor;
      border-color: darken($bgcolor, 30);
    }
  }
  .category-title {
    order: 1;
    margin-left: -20px;
  }
  margin-left: -10px;
}
</style>
