<template>
  <div
    id="notelistview"
    class="fill-height"
    style="max-width:100%; width:100%; overflow:auto;"
  >
    <GlobalEvents
      @keydown.n="openActionButtonShortcut"
      @keydown.c="openDialogViaShortcut($event, NoteType.checklist)"
      @keydown.t="openDialogViaShortcut($event, NoteType.text)"
    />
    <note-list-component
      :category="category"
      :notes="category ? category.notes : []"
      @click-note="openNote"
    ></note-list-component>

    <v-speed-dial v-model="fab" bottom right fixed :transition="'slide-y-reverse-transition'">
      <template slot="activator">
        <v-btn v-model="fab" color="pink" dark fab>
          <v-icon>add</v-icon>
          <v-icon>close</v-icon>
        </v-btn>
      </template>
      <v-btn
        fab
        dark
        small
        color="green"
        alt="List note"
        @click="noteType = NoteType.checklist; dialog = !dialog"
      >
        <v-icon>check_box</v-icon>
      </v-btn>
      <v-btn
        fab
        dark
        small
        color="indigo"
        alt="Text note"
        @click="noteType = NoteType.text; dialog = !dialog"
      >
        <v-icon>subject</v-icon>
      </v-btn>
    </v-speed-dial>
    <note-edit-dialog v-model="dialog" :noteType="noteType" :note="null" @save="saveNote"></note-edit-dialog>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import router from "../router/index";
import NoteEditDialog from "../components/NoteEditDialog.vue";
import NoteListComponent from "@/components/NoteListComponent.vue";
import { INote, NoteType } from "../interfaces/INote";
import { ICategory } from "../interfaces/ICategory";
import { StateNamespaces } from "@/store/namespaces";
import {
  CategoryActionTypes,
  SaveNoteAction
} from "@/store/category-state/category-state";
import { namespace } from "vuex-class";
import { debug } from "util";
import { Category } from "../interfaces/gui-interfaces/Category";

const categoryModul = namespace(StateNamespaces.CATEGORY_STATE);
@Component({ components: { NoteEditDialog, NoteListComponent } })
export default class NodeListView extends Vue {
  private dialog: boolean = false;
  private noteType: NoteType = NoteType.text;
  private fab: boolean = false;

  @categoryModul.Action(CategoryActionTypes.SAVE_NOTE)
  private saveNoteAction: SaveNoteAction;
  @categoryModul.Getter("currentCategoryByRoute")
  private currentCategoryByRoute;
  @categoryModul.Getter
  private categories: ICategory[];

  // needed for setting the type when opening dialog :/
  NoteType = NoteType;

  get category(): Category {
    const category: Category = this.currentCategoryByRoute(
      this.$route.params.categoryid
    );
    return category;
  }

  async saveNote(note: INote) {
    try {
      this.saveNoteAction(note);
      this.dialog = false;
    } catch (error) {
      this.dialog = true;
    }
  }

  async openNote(note: INote) {
    let categoryid = this.$route.params.categoryid;
    let noteId: string = note._id + "";
    router.push({
      name: "LayoutNoteContent",
      params: { categoryid: categoryid, noteid: noteId }
    });
  }
  private openDialogViaShortcut(event, type: NoteType) {
    if (this.fab) {
      this.noteType = type;
      this.dialog = true;
      this.fab = false;
      event.preventDefault();
    }
  }
  private openActionButtonShortcut(event) {
    if (!this.dialog) {
      this.fab = !this.fab;
      event.preventDefault()

    }
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/scss/colors";
.note-list {
  width: 100%;
  height: 100%;

  @each $pointer, $bgcolor in $note-colors {
    &.#{$pointer} {
      nav {
        border-top: 5px solid lightgray;
        background-color: $bgcolor !important;
        border-color: darken($bgcolor, 30) !important;
      }
    }
  }
}
.correct-margins {
  margin-left: -10px;
  margin-right: -10px;
}
.note {
  position: relative;
  display: flex;
  flex-direction: column;
  border-top: 5px solid lightgray;
  // background-color: lightgray;
  border-color: darken(lightgray, 30);
  margin: 3px;
  // width: 150px;
  height: 160px;
  overflow: hidden;
  &.clickable {
    cursor: pointer;
  }
  .note-title {
    display: block;
    padding-top: 5px;
    padding-bottom: 0px;
  }
  @each $pointer, $bgcolor in $note-colors {
    &.#{$pointer} {
      background-color: $bgcolor;
      border-color: darken($bgcolor, 30);
      .fadeout::after {
        background: linear-gradient(rgba(0, 0, 0, 0), $bgcolor);
      }
    }
  }
  ul {
    padding-left: 15px;
    padding-right: 5px;
    text-align: left;
    margin: 0;
    li {
      //   font-size: 11px;
      &.checked {
        text-decoration: line-through;
      }
    }
  }
  .fadeout {
    // margin: 5px 0;
    &::after {
      content: " ";
      height: 25%;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  .headline {
    font-size: 17px;
    font-weight: bold;
  }
}
</style>

