<template>
  <v-card v-if="note" class="fill-height">
    <GlobalEvents @keydown.f2.prevent="dialog = true" @keydown.delete="deleteNote($event)" />
    <v-img class="image" src="static/img/NYC.JPG" aspect-ratio="2.75"></v-img>

    <v-card-title primary-title class="text-content">
      <div>
        <h3 class="headline mb-0">{{note.name}}</h3>
      </div>
    </v-card-title>

    <v-card-text class="content text-content">
      <div v-if="note.content">
        <note-content :note="note" @update-note="updateNote" />
      </div>
    </v-card-text>

    <v-card-actions class="actions">
      <v-btn flat color="orange" @click="dialog = true" v-if="!isTrashView()">Bearbeiten</v-btn>
      <v-btn flat color="orange" @click="deleteNote()">Löschen</v-btn>
      <v-btn flat color="orange" @click="showHistory()">Historie</v-btn>
    </v-card-actions>
    <note-edit-dialog v-model="dialog" :note="note" @save="updateNote"></note-edit-dialog>
    <confirm-dialog ref="confirm"></confirm-dialog>
    <note-history-dialog v-model="historyDialog" :noteVersions="historyOfNote" @delete-entry="deleteHistoryEntry($event)" @restore-entry="restoreHistoryEntry($event)"></note-history-dialog>
  </v-card>
</template>
<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import router from "../router/index";
import NoteEditDialog from "../components/NoteEditDialog.vue";
import { INote } from "../interfaces/INote";
import ConfirmDialog from "../components/external/ConfirmDialog.vue";
import { EventBus } from "../helper/event-bus.js";
import showdown from "showdown";
import { namespace } from "vuex-class";
import { StateNamespaces } from "../store/namespaces";
import {
  CategoryActionTypes,
  SaveNoteAction,
  DeleteNoteAction,
  LoadHistoryAction,
  DeleteNoteHistoryAction,
  RestoreNoteHistoryAction
} from "../store/category-state/category-state";
import { Note } from "../interfaces/gui-interfaces/Note";
import { AxiosResponse } from "axios";
import NoteService from "../services/NoteService";
import NoteHistoryDialog from "../components/NoteHistoryDialog.vue";
import NoteContent from "../components/NoteContent.vue";

const categoryModul = namespace(StateNamespaces.CATEGORY_STATE);

@Component({
  components: { NoteEditDialog, ConfirmDialog, NoteHistoryDialog, NoteContent },
  filters: {
    markdown(s: string) {
      // s = s.replace(/\n\n\n/g, "\n&nbsp;\n ");
      let converter = new showdown.Converter(),
        html = converter.makeHtml(s);
      return html;
    }
  }
})
export default class NodeContentView extends Vue {
  @categoryModul.Getter
  private currentNoteByRoute;

  @categoryModul.Getter
  private historyOfNote;

  private dialog: boolean = false;
  private async mounted() {
    showdown.setOption("tasklists", "true");
    showdown.setOption("requireSpaceBeforeHeadingText", "true");
    showdown.setOption("simpleLineBreaks", "true");
  }
  @categoryModul.Action(CategoryActionTypes.SAVE_NOTE)
  private saveNoteAction: SaveNoteAction;
  @categoryModul.Action(CategoryActionTypes.DELETE_NOTE)
  private deleteNoteAction: DeleteNoteAction;
  @categoryModul.Action(CategoryActionTypes.LOAD_HISTORY)
  private loadHistoryAction: LoadHistoryAction;
  @categoryModul.Action(CategoryActionTypes.DELETE_NOTE_HISTORY)
  private deleteNoteHistoryAction: DeleteNoteHistoryAction;
  @categoryModul.Action(CategoryActionTypes.RESTORE_NOTE_HISTORY)
  private restoreNoteHistoryAction: RestoreNoteHistoryAction;

  private historyDialog: boolean = false;

  private async updateNote(note: INote) {
    try {
      this.saveNoteAction(note);
      this.dialog = false;
    } catch (error) {
      this.dialog = true;
    }
  }
  NoteContent;
  private get note(): Note {
    const noteId = this.$route.params.noteid;
    const categoryId = this.$route.params.categoryid;
    const fromTrash = this.isTrashView();
    return this.currentNoteByRoute(categoryId, noteId, fromTrash);
  }

  private async deleteNote(event) {
    if (!this.dialog) {
      if (event) event.preventDefault();
      let confirm: any = this.$refs.confirm;
      let text = this.isTrashView()
        ? "Soll die Notiz unwideruflich gelöscht werden?"
        : "Soll die Notiz wirklich gelöscht werden?";
      if (await confirm.open("Löschen", text, { color: "red" })) {
        // yes
        this.deleteNoteAction({
          note: this.note,
          fromTrash: this.isTrashView()
        });
      } else {
        // console.log("nein nicht löschen.")
        // cancel
      }
    }
  }

  private async deleteHistoryEntry(historyEntry) {
    let confirm: any = this.$refs.confirm;
    let text = "Soll diese Version der Notiz unwideruflich gelöscht werden?";
      if (await confirm.open("Löschen", text, { color: "red" })) {
        this.deleteNoteHistoryAction(historyEntry);
      }
    
  }

  private async restoreHistoryEntry(historyEntry) {
    let confirm: any = this.$refs.confirm;
    let text = "Soll diese Version der Notiz wiederhergestellt werden?";
      if (await confirm.open("Wiederherstellen", text, { color: "green" })) {
        console.log(historyEntry);
        this.restoreNoteHistoryAction(historyEntry);
      }
  }

  private isTrashView(): boolean {
    return this.$route.name == "TrashNoteContent";
  }

  private async showHistory() {
    this.loadHistoryAction(this.note);
    this.historyDialog = true;
  }
}
</script>

<style lang="scss" scoped>

.v-card {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  .image {
    max-height: 200px;
  }
  .text-content {
    text-align: start;
  }
  .content {
    overflow: auto;
  }
  .actions {
    margin-top: auto;
  }
}
</style>

