<template>
    <div class="registerView">
        <div class="panel">
            {{translate.infoText}}
            <form @submit.prevent="register">
              <ui-textbox :label="translate.username" :floatingLabel='true' v-model="username" :invalid="errors && errors['username'] && errors['username'].invalid" :error="errors && errors['username'] && errors['username'].text"></ui-textbox> 
              <ui-textbox type="password" :label="translate.password" :floatingLabel='true' v-model="password" :invalid="errors && errors['password'] && errors['password'].invalid" :error="errors && errors['password'] && errors['password'].text"></ui-textbox> 
              <ui-textbox type="password" :label="translate.passwordRepeat" :floatingLabel='true' v-model="passwordRepeat" :invalid="errors && errors['passwordRepeat'] && errors['passwordRepeat'].invalid" :error="errors && errors['passwordRepeat'] && errors['passwordRepeat'].text"></ui-textbox> 
              <div class="footer">
                <ui-button @click="redirectToSignIn" color="primary" type="secondary" buttonType="button">{{translate.signIn}}</ui-button>
                <ui-button color="primary">{{translate.register}}</ui-button>
              </div>
            </form>
        </div>
    </div>
</template>


<script lang="ts">
import Vue from "vue";
import { EventBus } from "../helper/event-bus.js";
import UserService from "../services/UserService";
import router from "../router/index";

export default {
  name: "Register",
  data() {
    let username: string, password: string, passwordRepeat: string;
    let errors;
    return {
      translate: {
        username: "Username",
        password: "Passwort",
        passwordRepeat: "Passwort wiederholen",
        register: "Registrieren",
        infoText: "Register here for a nice application to sort your notes.",
        signIn: "Einloggen",
        registrationSuccessful: "Registrierung war erfolgreich. Sie können sich nun einloggen.",
        errors: {
          passwordNoMatch: "Die Passwörter stimmen nicht überein!",
          mandatoryItem: "Pflichtfeld muss ausgefüllt sein."
        }
      },
      username,
      password,
      passwordRepeat,
      errors
    };
  },
  mounted() {},
  methods: {
    register() {
      this.errors = {};
      if (!this.username) {
        this.errors["username"] = {
          invalid: true,
          text: this.translate.errors.mandatoryItem
        };
      }
      if (!this.password) {
        this.errors["password"] = {
          invalid: true,
          text: this.translate.errors.mandatoryItem
        };
      }
      if (this.password != this.passwordRepeat) {
        let message = this.translate.errors.passwordNoMatch;
        EventBus.$emit("message", { message });
        this.errors["password"] = {
          invalid: true,
          text: this.translate.errors.passwordNoMatch
        };
        this.errors["passwordRepeat"] = {
          invalid: true,
          text: this.translate.errors.passwordNoMatch
        };
      }

      if (Object.keys(this.errors).length !== 0) return;
      new UserService()
        .registerUser(this.username, this.password)
        .then(result => {
          if (result.status == 200) {
            let message = this.translate.registrationSuccessful;
            EventBus.$emit("message", { message });
            this.clearFields();
          }
        });
    },
    clearFields() {
      this.password = null;
      this.passwordRepeat = null;
      this.username = null;
    },
    redirectToSignIn() {
      router.push({ name: "SignIn" });
    }
  }
};
</script>

<style scoped lang='scss'>
.registerView {
  display: flex;
  width: 100%;
  background-color: lightgreen;
  .panel {
    margin: auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    background-color: snow;
    .footer {
      display: flex;
      justify-content: space-between;
    }
  }
}
</style>