<template>
  <div class="registerView">
    <div class="panel">
      {{translate.infoText}}
      <form @submit.prevent="signIn">
        <ui-textbox
          :label="translate.username"
          :floatingLabel="true"
          v-model="username"
          :invalid="errors && errors['username'] && errors['username'].invalid"
          :error="errors && errors['username'] && errors['username'].text"
        ></ui-textbox>
        <ui-textbox
          type="password"
          :label="translate.password"
          :floatingLabel="true"
          v-model="password"
          :invalid="errors && errors['password'] && errors['password'].invalid"
          :error="errors && errors['password'] && errors['password'].text"
        ></ui-textbox>
        <div class="footer">
          <ui-button
            @click="redirectToRegister"
            color="primary"
            type="secondary"
            buttonType="button"
          >{{translate.register}}</ui-button>
          <ui-button color="primary">{{translate.signIn}}</ui-button>
        </div>
      </form>
    </div>
  </div>
</template>


<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

import { EventBus } from "../helper/event-bus.js";
import router from "../router/index";
import { namespace } from "vuex-class";
import { StateNamespaces } from "@/store/namespaces";
import {
  UserActionTypes,
  LoginUserAction
} from "../store/user-state/user-state";
import { debug } from "util";

const userModule = namespace(StateNamespaces.USER_STATE);

@Component({})
export default class SignIn extends Vue {
  private username: string = "";
  private password: string = "";
  private _errors;

  @userModule.Action(UserActionTypes.LOGIN)
  private loginUserAction: LoginUserAction;

  private translate: any = {
    username: "Username",
    password: "Passwort",
    register: "Registrieren",
    infoText: "Einloggen.",
    signIn: "Einloggen",
    _errors: {
      wrongPassword: "Das Passwort stimmt nicht mit dem User überein!",
      mandatoryItem: "Pflichtfeld muss ausgefüllt sein."
    }
  };
  signIn() {
    this.loginUserAction({ username: this.username, password: this.password });
  }
  redirectToRegister() {
    router.push({ name: "Register" });
  }
  get errors() {
    return this._errors;
  }
  set errors(value) {
    this._errors = value;
  }
}
</script>

<style scoped lang='scss'>
.registerView {
  display: flex;
  width: 100%;
  background-color: lightgreen;
  .panel {
    margin: auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    background-color: snow;
    .footer {
      display: flex;
      justify-content: space-between;
    }
  }
}
</style>