<template>
  <div class="fill-height" style="max-width:100%; width:100%; overflow:auto;">
    <note-list-component :category="null" :notes="trashedNotes" @click-note="openNote"></note-list-component>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import router from "../router/index";
import NoteListComponent from "../components/NoteListComponent.vue";
import { NoteType } from "../interfaces/INote";
import { Note}  from "../interfaces/gui-interfaces/Note";
import { namespace } from "vuex-class";
import { StateNamespaces } from "../store/namespaces";
import { CategoryActionTypes , LoadTrashedNoteAction } from "../store/category-state/category-state";

const categoryModul = namespace(StateNamespaces.CATEGORY_STATE);

@Component({ components: { NoteListComponent } })
export default class TrashView extends Vue {
  private notes: Array<Note> = [];
  @categoryModul.Getter
  private trashedNotes: Note[];

  @categoryModul.Action(CategoryActionTypes.LOAD_TRASH_NOTES)
  private loadTrashNotesAction: LoadTrashedNoteAction;

  async mounted() {
    this.openList();
  }

  async openList() {
    this.loadTrashNotesAction();
  }

  async openNote(note: Note) {
      let categoryId = note.categoryId;
      let noteId = note._id;
      router.push({
      name: "TrashNoteContent",
      params: { categoryid: categoryId, noteid: noteId }
    });
  }

  @Watch("$route")
  onPropertyChanged(value, oldValue) {
    this.openList();
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/scss/colors";
.note-list {
  width: 100%;
  height: 100%;

  @each $pointer, $bgcolor in $note-colors {
    &.#{$pointer} {
      nav {
        border-top: 5px solid lightgray;
        background-color: $bgcolor !important;
        border-color: darken($bgcolor, 30) !important;
      }
    }
  }
}
.correct-margins {
  margin-left: -10px;
  margin-right: -10px;
}
</style>

