$light-blue: rgb(153, 214, 255);
$dark-blue: rgb(0, 77, 128);

$note-colors: (
    category-blue: rgb(32, 163, 250),
    category-red: rgb(255, 106, 47),
    category-green: rgb(82, 167, 76)
);

@function alpha($color, $alpha) {
    @return rgba(red($color), green($color), blue($color), $alpha);
}